# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Environment variables & secrets
.env
.env.*
!.env.example
credentials.json
google-services.json
GoogleService-Info.plist

# Native & Signing Keys
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.keystore
*.pem
*.mobileprovision

# Native Build Outputs (EAS / Local Run)
*.apk
*.aab
*.ipa

# Generated native folders (Continuous Native Generation / Prebuild)
/ios
/android

# Metro Bundler & Debug logs
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*

# TypeScript
*.tsbuildinfo

# IDE & OS
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
.DS_Store
Thumbs.db
